* { box-sizing: border-box; }
h1 { text-align: center; }
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}
.step.active { opacity: 1; }
.step.finish { background-color: #04AA6D; }
.tab { display: none; }